/* --------------------------------------------------------------- */
/* -------------------------Stocks-------------------------------- */
.main {
    padding: 20px 0;
}
.stocks-page__title {
    font-size: 30px;
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    margin-bottom: 25px;
}
.stocks-page__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}
.stocks-page__card {
    display: flex;
    flex-direction: column;
    max-height: 430px;
}
.card__img {
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 10px;
}
.card__img img {
    width: 100%;
    height: auto;
}
.card__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.card__text {
    font-size: 13px;
    line-height: 20px;
    color: rgba(104, 100, 102, 1);
    margin-bottom: 20px;
}
.card__btn {
    background-color: rgba(255, 46, 101, 1);
    color: rgba(243, 243, 247, 1);
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    min-height: 45px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
@media (max-width: 1000px) {
    .phone__container {
        display: none;
    }
}
@media (max-width: 700px) {
    .stocks-page__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
@media (max-width: 480px) {
    .main {
        padding: 10px 0;
    }
    .stocks-page__container {
        gap: 20px;
    }
    .card__text {
        font-size: 10px;
        margin-bottom: 10px;
    }
    .card__title {
        font-size: 16px;
    }
    .stocks-page__container {
        grid-template-columns: repeat(1, 1fr);
    }
    .card__btn {
        width: 120px;
        height: 30px;
        font-size: 12px;
    }
}