/* font-family: "Montserrat", sans-serif; */
/* font-family: 'Panton', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
    font-family: "Montserrat", sans-serif;
    color: rgba(35, 31, 32, 1);
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
body.active {
    overflow: hidden;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100vh;
    height: 100%;
}
main {
    flex-grow: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button {
    padding: 0;
    border: none;
}
input {
    border-style: solid;
}
input:focus, textarea:focus, select:focus {
	outline: none;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1110px;
}
.select__on {
    -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.hiden {
    display: none;
}
/* --------------------------------------------------------------- */
/* ------------------------Navigation----------------------------- */
/* 
.header {
} */
/* .header__inner {
} */
.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    gap: 10px;
    position: relative;
}
.logo__container {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 10px;
    align-items: center;
}
.logo {
    max-width: 64px;
    max-height: 64px;
    grid-row: 1/3;
}
.logo img {
    width: 100%;
    height: auto;
}
.logo__title {
    font-size: 39px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Panton', sans-serif;
}
.logo__p {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
}
.delivery__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.delivery__title {
    font-size: 18px;
    font-weight: 600;
}
.delivery__title span {
    color: rgba(255, 46, 101, 1);
}
.delivery__p {
    font-size: 14px;
    font-weight: 600;
}
.phone__container {
    display: flex;
    align-items: center;
    gap: 25px;
}
.phone__btn {
    background-color: rgba(243, 243, 247, 1);
    border-radius: 29px;
    color: rgba(105, 111, 122, 1);
    width: 180px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;  
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.phone {
    font-size: 26px;
    font-weight: 700;
    color: rgba(255, 46, 101, 1);
}
.nav__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
}
.options {
    height: 40px;
    display: flex;
}
.options__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.options__item.swiper-slide {
    color: rgba(14, 12, 13, 1);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.enter__basket__container {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}
/* --------------------------------------------------------------- */
/* ------------------------Enter---------------------------------- */
.enter__btn {
    color: rgba(105, 111, 122, 1);
    font-weight: 700;
    padding: 7px;
    line-height: 28px;
    height: 42px;
    width: 70px;
    position: relative;
    cursor: pointer;
}
.enter__page__container {
    display: none;
}
.enter__page__container.active{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    bottom: -170px;
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    z-index: 6;
    padding: 20px;
}
.enter__page__container span {
    width: 20px;
    height: 20px;
    border-radius: 0;
    position: absolute;
    right: 25px;
    top: -10px;
    transform: rotate(-45deg);
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}
.enter__page__container img{
    position: absolute;
    z-index: 7;
    height: 120px;
    right: -10px;
    bottom: 15px;
}
.enter__reg {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 46, 101, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    font-size: 14px;
    font-weight: 600;
}
.enter-page {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 46, 101, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    font-size: 14px;
    font-weight: 600;
}
/* --------------------------------------------------------------- */
/* ------------------------Basket--------------------------------- */
.basket {
    width: 160px;
    height: 42px;
    background-color: rgba(255, 46, 101, 1);
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.basket__link {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket span {
    background-color: #fff;
    width: 2px;
    height: 23px;
    border-radius: 5px;
    margin-left: 10px;
}
.basket__page {
    width: 40px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.basket__page__container {
    display: none;
}
.basket__page__container.active {
    display: block;
    position: absolute;
    right: 0;
    bottom: -480px;
    width: 350px;
    height: 460px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    z-index: 6;
}
.basket__page__container span {
    width: 20px;
    height: 20px;
    border-radius: 0;
    position: absolute;
    right: 25px;
    top: -10px;
    transform: rotate(-45deg);
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
}
.basket__card__container {
    height: 215px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
}
.basket__card {
    display: grid !important;
    grid-template-columns: 70px 150px 1fr !important;
    grid-template-rows: repeat(2, 1fr) !important;
    height: 100px !important;
    width: 300px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2) !important;
    box-sizing: border-box;
}
.basket__card__img {
    width: 70px;
    height: 70px;
    grid-row: 1/3;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket__card__img img { 
    width: 100%;
    height: auto;
    margin: auto;
}
.basket__card__title {
    color: rgba(14, 12, 13, 1);
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: left;
    margin-left: 17px;
}
.basket__card__delete {
    height: 17px;
    width: 17px;
    margin-left: auto;
    cursor: pointer;
}
.basket__card__delete img {
    width: 100%;
    height: auto;
}
.basket__card__range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 92px;
    height: 32px;
    padding: 0 15px;
    margin-left: 17px;
    margin-top: auto;
}
.basket__card__range__item {
    color: rgba(104, 100, 102, 1);
    font-weight: 600;
    font-size: 18px;
}
.basket__card__range__item:last-child,
.basket__card__range__item:first-child {
    cursor: pointer;
}
.basket__card__price {
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
    font-size: 20px;
    margin-left: auto;
    margin-top: auto;
}
.basket__sum {
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    width: 300px;
}
.sum__text {
    font-weight: 700;
    font-size: 15px;
    color: rgba(14, 12, 13, 1);
    text-align: left;
}
.sum__price {
    font-weight: 700;
    color: rgba(255, 46, 101, 1);
    font-size: 24px;
    text-align: right;
}
.sum__link {
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
    grid-column: 1/3;
    text-align: left;
}
.basket__bottom {
    margin-top: 20px;
    margin-left: 25px;
    width: 325px;
    height: 100px;
}
.basket__bottom__item-input{
    display: none;
}
.basket__bottom__item-input:checked + .basket__bottom__item {
    border: 1.5px solid rgba(255, 46, 101, 1)!important;
}
.basket__bottom__item {
    display: grid !important;
    grid-template-columns: 70px 1fr !important;
    grid-template-rows: repeat(2, 1fr) !important;
    column-gap: 15px !important;
    /* width: 155px !important;
    height: 100px !important; */
    border-radius: 12px !important;
    border: 1.5px solid rgba(226, 226, 233, 1) !important;
    text-align: left !important;
    padding: 14px 17px !important;
}
.basket__bottom__img {
    height: 70px;
    width: 70px;
    grid-row: 1/3;
}
.basket__bottom__img img {
    width: 100%;
    height: auto;
}
.basket__bottom__title {
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, 1);
    line-height: 14px;
    display: flex;
    align-items: flex-end;
}
.basket__bottom__price {
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}
/* --------------------------------------------------------------- */
/* ------------------------Burger menu---------------------------- */
.burger__btn {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    display: none;
}
.burger__btn span {
    height: 3px;
    width: 38px;
    transform: scale(1);
    background-color: rgba(255, 46, 101, 1);
}
.burger__btn::after, .burger__btn::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: rgba(255, 46, 101, 1);
    transition: all 0.5s ease 0s;
}
.burger__btn::before {
    bottom: 0;
}
.burger__btn::after {
    top: 0;
}
.burger__btn.active span {
    transform: scale(0);
}
.burger__btn.active::after {
    top: 48%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger__btn.active::before{
    bottom: 48%;
    transform: rotate(45deg) translate(0, 50%);
}
.blackout {
    display: none;
}
.blackout.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .4;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    animation: test .5s forwards;
    cursor: pointer;
}
@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .4;
    }
}
.burger__options{
    position: fixed;
    left: -100%;
    transition: all 0.5s ease 0s;
}
.burger__options.active {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(255, 46, 101, 1);
    width: 360px;
    height: 100vh;
    align-items: center;
    transition: all 0.5s ease 0s;
}
.burger__span {
    height: 2px;
    width: 340px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 5px;
}
.burger__close {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 310px;
}
.burger__close::after, .burger__close::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
}
.burger__close::after {
    bottom: 15px;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger__close::before  {
    top: 20px;
    transform: rotate(45deg) translate(0, 50%);
}
.burger__options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.basket__burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    width: 160px;
    height: 42px;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.enter__burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    width: 160px;
    height: 42px;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 15px;
}
.enter__page__burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    width: 160px;
    height: 42px;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.phone__btn.burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    width: 160px;
    height: 42px;
    grid-column: 1/3;
    margin: 0 auto;
    margin-bottom: 20px;
}
.phone.burger {
    color: rgba(255, 255, 255, 1);
    grid-column: 1/3;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.burger__img {
    border-radius: 13px;
    width: 360px;
}
.burger__img  img{
    width: 100%;
    height: auto;
}
.delivery__title.burger {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}
.delivery__title.burger span {
    color: rgba(255, 255, 255, 1);
}
.delivery__p.burger {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
@media (max-width: 1000px) {
    .burger__btn {
        display: flex;
        margin-left: 110px;
    }
    .enter__basket__container {
        display: none;
    }
    .phone__container {
        display: none;
    }
    .logo__title {
        font-size: 29px;
    }
    .delivery__container {
        margin-right: 110px;
    }
    .delivery__container {
        display: none;
    }
}
@media (max-width: 700px) {
    .burger__btn {
        margin-left: 0px;
    }
    .logo__container {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 8px;
    }
    .logo__title {
        font-size: 20px;
    }
    .logo {
        height: 50px;
        width: 50px;
    }
    .delivery__title {
        font-size: 12px;
    }
    .delivery__p {
        font-size: 10px;
    }
    .nav__options {
        margin-top: 15px;
    }
}
/* --------------------------------------------------------------- */
/* ------------------------Prewiev-------------------------------- */
.prewiev {
    margin: 0 auto;
    margin-top: 28px;
}
.slide__container img {
    border-radius: 13px;
    max-width: 100%;
    max-height: 410px;
}
.slide__container {
    max-height: 410px;
}
@media (max-width: 1000px) {
}
@media (max-width: 700px) {
    .prewiev {
        margin-top: 12px;
    }
}
/* --------------------------------------------------------------- */
/* --------------------------New---------------------------------- */
.new {
    margin-top: 100px;
}
.new__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat();
    column-gap: 30px;
}
.new__section__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.new__card {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(2, 1fr);

    max-width: 200px;
    max-height: 100px;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 17px;
    align-items: center;
    column-gap: 25px;
}
.new__card__first {
    position: relative;
}
.onion {
    position: absolute;
    z-index: -1;
    left: -30px;
    bottom: -40px;
    height: 170px;
    width: auto;
}
.new__card__title {
    font-size: 18px;
    font-weight: 700;
}
.new__img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 10px;
    grid-row: 1/3;
}
.new__img img {
    width: 100%;
}
.new__price {
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
}
@media (max-width: 1000px) {
    .new {
        margin-top: 50px;
    }
    .new__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        margin: 0 auto;
    }
    .new__card {
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15px;
        column-gap: 15px;
    }
    .onion {
        height: 120px;
        bottom: -10px;
        left: -15px;
    }
}
@media (max-width: 700px) {
    .new {
        margin-top: 30px;
    }
    .new__section__title {
        font-size: 20px;
        border-top: 2px solid rgba(105, 111, 122, 1);
    }
    .new__card {
        column-gap: 10px;
    }
    .new__card__title {
        font-size: 16px;
    }
    .new__price {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .new__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
/* --------------------------------------------------------------- */
/* -----------------------Menu------------------------------------ */
/* .menu__one {
    ...
} */
/* .menu__two {
    ...
} */
/* .menu__three {
    ...
} */
/* .menu_four {

}
.menu_five {
    
}
.menu_six {
    
}
.menu_seven {
    
}
.menu_eight {
    
} */
.menu__title {
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 46, 101, 1);
    margin-top: 50px;
    margin-bottom: 10px;
}
.menu__container {
    display: grid;
    margin-top: 23px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}
.menu__container.menu__smaller {
    grid-template-rows: repeat(1, 1fr);
}
.menu__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.menu__card__img {
    max-width: 253px;
    grid-column: 1/3;
    margin-bottom: 15px;
}
.menu__card__img img {
    width: 100%;
    height: auto;
}
.menu__card__title {
    font-size: 24px;
    font-weight: 800;
    grid-column: 1/3;
    margin-bottom: 20px;
}
.menu__card__p {
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    grid-column: 1/3;
    margin-bottom: 23px;
}
.menu__card__price {
    font-size: 19px;
    font-weight: 700;
}
.menu__card__basket {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 3px 0;
    background-color: rgba(255, 46, 101, 1);
    border-radius: 8px;
    width: 126px;
    height: 35px;
    color: #ffffff;
    text-align: center;
    display: block;
}
@media (max-width: 1000px) {
    .menu__card {
        justify-content: center;
    }
    .menu__card__img {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .menu__card__title {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
    .menu__card__p {
        font-size: 11px;
        margin-bottom: 10px;
        text-align: center;
    }
    .menu__card__price {
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
        grid-column: 1/3;
    }
    .menu__card__basket {
        grid-column: 1/3;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 600;
        width: 100px;
        height: 30px;
        padding: 0;
    }
}
@media (max-width: 700px) {
    .menu__container {
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
    }
    .menu__card__img {
        max-width: 180px;
    }
    .menu__title {
        font-size: 24px;
        border-top: 2px solid rgba(255, 46, 101, 1);
    }
    .menu__card__title {
        font-size: 16px;
    }
    .menu__card__p {
        font-size: 10px;
    }
    .menu__card__price {
        font-size: 14px;
    }
    .menu__card__basket {
        font-weight: 500;
    }
}
/* --------------------------------------------------------------- */
/* -------------------------Purchase page------------------------- */
.purchase__page {
    display: none;
    position: fixed;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 960px;
    height: 610px;
    background-color: #fff;
    border-radius: 22px;
    z-index: 4;
    animation: testTwo .8s forwards;
    gap: 20px;
}
.purchase__page.active {
    display: flex;
}
@keyframes testTwo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.purchase__page-img {
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.purchase__page-img img {
    width: 100%;
    height: auto;
}
.purchase__page-container {
    margin: 30px 0 40px;
}
.purchase__page-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
}
.purchase__page-p {
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(104, 100, 102, 1);
}
.purchase__page-article {
    line-height: 28px;
    font-size: 11px;
    font-weight: 600;
    color: rgba(104, 100, 102, 1);
    opacity: 60%;
}
.purchase__page-article span{
    border-bottom-style: dashed;
}
.purchase__page-first__choice {
    margin: 9px 45px 9px 0;
    display: flex;
    justify-content: space-between;
    gap: 13px;
}
.purchase__page-first__choice label { 
    width: 100px;
    height: 35px;
    background-color: rgba(243, 243, 247, 1);
    color: rgba(130, 135, 146, 1);
    font-size: 11px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.purchase__page-first__choice input[type=radio] {
    display: none;
}
.purchase__page-first__choice input[type=radio]:checked + label {
    background-color: rgba(255, 46, 101, 1);
    color: rgba(227, 236, 245, 1);
}
.purchase__page-second__choice {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    margin-bottom: 19px;
}
.purchase__page-second__choice input[type=radio] {
    display: none;
}
.purchase__page-second__choice input[type=radio]:checked + label {
    background-color: rgba(255, 46, 101, 1);
    color: rgba(227, 236, 245, 1);
}
.purchase__page-second__choice label{
    width: 150px;
    height: 35px;
    background-color: rgba(243, 243, 247, 1);
    color: rgba(130, 135, 146, 1);
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
}
.purchase__page-third__choice {
    height: 183px;
    width: 328px;
}
.swiper.purchase__page-third__choice {
    margin-left: 0;
}
/* .purchase__page-third__choice-container {
    
} */
.purchase__page-third__choice-row {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    box-sizing: border-box;
}
.purchase__page-third__choice label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border: 1.5px solid rgba(226, 226, 233, 1);
    width: 100px;
    height: 160px;
    cursor: pointer;
}
.purchase__page-third__choice input[type=radio] {
    display: none;
}
.purchase__page-third__choice input[type=radio]:checked + label {
    border: 2.5px solid rgba(255, 46, 101, 1);
}
.third__choice-img {
    width: 65px;
    height: 70px;
    margin-top: 14px;
}
.third__choice-img img {
    width: 100%;
    height: auto;
}
.third__choice-title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.third__choice-price {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 17px;
    color: rgba(255, 46, 101, 1);
}
.purchase__page-btn {
    margin-top: 100px;
    width: 340px;
    height: 60px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    background-color: rgba(255, 46, 101, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index: 2;
}
/* --------------------------------------------------------------- */
/* -------------------------Stocks-------------------------------- */
/* .stocks {
    ...
} */
.stocks__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 44px;
    max-width: 400px;
    text-align: center;
    margin-top: 65px;
}
.stocks__title span {
    color: rgba(255, 46, 101, 1);
}
.stocks__container {
    margin-top: 45px;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.stocks__main__img {
    max-width: 540px;
    height: auto;
    border-radius: 20px;
    grid-row: 1/3;
    grid-column: 1/3;
}
.stocks__main__img img{
    width: 100%;
    height: auto;
}
.stocks__img {
    max-width: 255px;
    height: auto;
    border-radius: 20px;
}
.stocks__img img {
    width: 100%;
    height: auto;
}
.stocks__link {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(255, 46, 101, 1);
    border-radius: 23px;
    width: 160px;
    height: 48px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1000px) {
    .stocks__title {
        font-size: 35px;
    }
    .stocks__container {
        margin-top: 30px;
    }
    .stocks__link  {
        margin-top: 30px;
    }
}
@media (max-width: 700px) {
    .stocks__title {
        font-size: 25px;
    }
    .stocks__container {
        margin-top: 20px;
    }
    .stocks__link  {
        margin-top: 20px;
        height: 35px;
        width: 120px;
        font-size: 12px;
    }
}
/* --------------------------------------------------------------- */
/* -------------------------Payment------------------------------- */
.payment {
    background-color: rgba(227, 236, 245, 1);
    margin-top: 60px;
    padding: 55px 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment__title {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    font-size: 30px;
}
.payment__article {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    column-gap: 30px;
}
.payment__article__container {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    padding: 43px 20px 5px;
    background-color: #fff;
    border-radius: 14px;
    max-width: 255px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.payment__article__icon {
    width: 77px;
    height: 77px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    padding: 17px;
    margin: 0 auto;
    top: -40px;
}
.payment__article__icon img {
    width: 44px;
    height: auto;
}
.article__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    bottom: 80px;
}
.payment__map__container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}
.payment__map__container iframe {
    height: 322px;
    width: 100%;
}
.payment__map {
    max-width: 1110px;
    height: 322px;
    background-color: #fff;
    border-radius: 14px;
    margin-top: 32px;
    border: none;
}
@media (max-width: 1200px) {
    .payment__article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .payment__map__container {
        width: 600px;
        height: 260px;
    }
    .payment__map__container iframe {
        width: 600px;
        height: 260px;
    }
}
@media (max-width: 700px) {
    .payment__title {
        font-size: 25px;
    }
    .payment__map__container {
        width: 400px;
    }
    .payment__map__container iframe {
        width: 400px;
    }
}
@media (max-width: 480px) {
    .payment__map__container {
        width: 360px;
        height: 230px;
    }
    .payment__map__container iframe {
        width: 360px;
        height: 230px;
    }
}
@media (max-width: 380px) {
    .payment__map__container {
        width: 260px;
        height: 180px;
    }
    .payment__map__container iframe {
        width: 260px;
        height: 180px;
    }
}
/* --------------------------------------------------------------- */
/* -------------------------Footer-------------------------------- */
.footer {
    padding-top: 55px;
    padding-bottom: 80px;
}
.footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 32px;
    column-gap: 92px;
    row-gap: 45px;
    align-items: center;
    justify-content: center;
}
.footer__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 50px repeat(3, 20px);
    max-width: 450px;
    row-gap: 20px;
    grid-row: 1/2;
    column-gap: 40px;
}
.left__logo {
    grid-column: 1/3;
}
.logo__footer {
    max-width: 64px;
    max-height: 64px;
    grid-row: 1/3;
}
.left__title {
    font-weight: 700;
}
.left__title.n {
    grid-column: 1/3;
}
.left__link {
    font-weight: 600;
    opacity: 70%;
}
.footer__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-row: -3/-1;
    position: relative;
}
.noodles {
    position: absolute;
    z-index: -1;
    bottom: -90px;
    right: -20px;
}
.right__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
}
.right__icons__container {
    display: grid;
    grid-template-columns: repeat(4, 101px);
    gap: 14px;
    margin-bottom: 25px;
}
.right__icons {
    width: 101px;
    height: 50px;
    border: 2px solid rgba(227, 236, 245, 1);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}
.right__link {
    width: 216px;
    height: 50px;
    border: 2px solid rgba(227, 236, 245, 1);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    opacity: 80%;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 1);
}
.right__phone {
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    font-size: 30px;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.bottom__rights {
    font-size: 14px;
    opacity: 80%;
    font-weight: 600;
}
.payment__icons__container {
    display: flex;
    justify-content: space-between;
    width: 140px;
    max-height: 36px;
    align-items: center;
    gap: 18px;
}
.payment__icons {
    max-width: 36px;
}
@media (max-width: 1000px) {
    .footer {
        padding: 40px 0;
    }
    .footer__inner {
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 32px;
        row-gap: 30px; */
        display: flex;
        flex-direction: column;
    }
    .footer__left,
    .footer__right,
    .footer__bottom {
        margin: 0 auto;
    }
    .footer__bottom {
        margin-top: 60px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .noodles {
        right: -100px;
        bottom: -90px;
    }
}
@media (max-width: 700px) {
    .footer {
        padding: 30px 0;
    }
    .noodles {
        display: none;
    }
    .phone__btn.right__phone__btn,
    .right__phone,
    .right__icons__container {
            margin: 0 auto;
    }
    .logo__container.left__logo {
        column-gap: 20px;
    }
    .footer__bottom {
        margin-top: 0;
    }
    .right__icons__container {
        grid-template-columns: repeat(2, 101px);
    }
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */