/* font-family: "Montserrat", sans-serif; */
/* font-family: 'Panton', sans-serif; */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;

    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body {
    font-family: "Montserrat", sans-serif;
    color: rgba(35, 31, 32, 1);
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body.active {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button {
    padding: 0;
    border: none;
}
input:focus, textarea:focus, select:focus {
	outline: none;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1110px;
}
.select__on {
    -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.hiden {
    display: none;
}
/* --------------------------------------------------------------- */
/* ------------------------Navigation----------------------------- */

/* 
.header {
} */
/* .header__inner {
} */
.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    gap: 10px;
    position: relative;
}
.logo__container {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 10px;
    align-items: center;
}
.logo {
    max-width: 64px;
    max-height: 64px;
    grid-row: 1/3;
}
.logo img {
    width: 100%;
    height: auto;
}
.logo__title {
    font-size: 39px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Panton', sans-serif;
}
.logo__p {
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
}
.delivery__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}
.delivery__title {
    font-size: 18px;
    font-weight: 600;
}
.delivery__title span {
    color: rgba(255, 46, 101, 1);
}
.delivery__p {
    font-size: 14px;
    font-weight: 600;
}
.phone__container {
    display: flex;
    align-items: center;
    gap: 25px;
}
.phone__btn {
    background-color: rgba(243, 243, 247, 1);
    border-radius: 29px;
    color: rgba(105, 111, 122, 1);
    width: 180px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;  
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.phone {
    font-size: 26px;
    font-weight: 700;
    color: rgba(255, 46, 101, 1);
}
.nav__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
}
.options {
    height: 40px;
    display: flex;
}
.options__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.options__item.swiper-slide {
    color: rgba(14, 12, 13, 1);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}
.enter__basket__container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.enter {
    color: rgba(105, 111, 122, 1);
    font-weight: 700;
    padding: 7px;
    line-height: 28px;
    height: 42px;
    width: 70px;
}
.basket {
    width: 160px;
    height: 42px;
    background-color: rgba(255, 46, 101, 1);
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
}

/* --------------------------------------------------------------- */
/* ------------------------Burger menu---------------------------- */
.burger__btn {
    width: 40px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    display: none;
}
.burger__btn span {
    height: 3px;
    width: 38px;
    transform: scale(1);
    background-color: rgba(255, 46, 101, 1);
}
.burger__btn::after, .burger__btn::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 38px;
    background-color: rgba(255, 46, 101, 1);
    transition: all 0.5s ease 0s;
}
.burger__btn::before {
    bottom: 0;
}
.burger__btn::after {
    top: 0;
}
.burger__btn.active span {
    transform: scale(0);
}
.burger__btn.active::after {
    top: 48%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger__btn.active::before{
    bottom: 48%;
    transform: rotate(45deg) translate(0, 50%);
}


.blackout {
    display: none;
}
.blackout.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: .4;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    animation: test .5s forwards;
    cursor: pointer;
}
@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .4;
    }
}


.burger__options{
    position: fixed;
    left: -100%;
    transition: all 0.5s ease 0s;
}
.burger__options.active {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(255, 46, 101, 1);
    width: 360px;
    height: 100vh;
    align-items: center;
    transition: all 0.5s ease 0s;
}


.burger__span {
    height: 2px;
    width: 340px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    margin-bottom: 5px;
}
.burger__close {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 310px;
}
.burger__close::after, .burger__close::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 1);
}
.burger__close::after {
    bottom: 15px;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger__close::before  {
    top: 20px;
    transform: rotate(45deg) translate(0, 50%);
}


.burger__options__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.basket.burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
    margin-bottom: 20px;
}
.enter.burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    width: 160px;
    height: 42px;
    padding: 7px;
    line-height: 28px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 15px;
}
.phone__btn.burger {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    width: 160px;
    height: 42px;
    grid-column: 1/3;
    margin: 0 auto;
    margin-bottom: 20px;
}
.phone.burger {
    color: rgba(255, 255, 255, 1);
    grid-column: 1/3;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}
.burger__img {
    border-radius: 13px;
    width: 360px;
}
.burger__img  img{
    width: 100%;
    height: auto;
}
.delivery__title.burger {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
}
.delivery__title.burger span {
    color: rgba(255, 255, 255, 1);
}
.delivery__p.burger {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .burger__btn {
        display: flex;
        margin-left: 110px;
    }
    .enter__basket__container {
        display: none;
    }
    .phone__container {
        display: none;
    }
    .logo__title {
        font-size: 29px;
    }
    .delivery__container {
        margin-right: 110px;
    }
    .delivery__title {
        font-size: 14px;
    }
    .delivery__p {
        font-size: 12px;
    }
}
@media (max-width: 700px) {
    .burger__btn {
        margin-left: 0px;
    }
    .logo__container {
        display: grid;
        grid-template-columns: 50px 1fr;
        column-gap: 8px;
    }
    .logo__title {
        font-size: 20px;
    }
    .logo {
        height: 50px;
        width: 50px;
    }
    .delivery__container {
        display: none;
    }
    .delivery__title {
        font-size: 12px;
    }
    .delivery__p {
        font-size: 10px;
    }
    .nav__options {
        margin-top: 15px;
    }
}
/* --------------------------------------------------------------- */
/* ------------------------Prewiev-------------------------------- */
.prewiev {
    margin: 0 auto;
    margin-top: 28px;
}
.slide__container img {
    border-radius: 13px;
    max-width: 100%;
    max-height: 410px;
}
.slide__container {
    max-height: 410px;
}
@media (max-width: 1000px) {
}
@media (max-width: 700px) {
    .prewiev {
        margin-top: 12px;
    }
}
/* --------------------------------------------------------------- */
/* --------------------------New---------------------------------- */
.new {
    margin-top: 100px;
}
.new__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat();
    column-gap: 30px;
}
.new__section__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.new__card {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(2, 1fr);

    max-width: 200px;
    max-height: 100px;
    border-radius: 12px;
    margin-top: 30px;
    padding: 14px 17px;
    align-items: center;
    column-gap: 25px;
}
.new__card__first {
    position: relative;
}
.onion {
    position: absolute;
    z-index: -1;
    left: -30px;
    bottom: -40px;
    height: 170px;
    width: auto;
}
.new__card__title {
    font-size: 18px;
    font-weight: 700;
}
.new__img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 10px;
    grid-row: 1/3;
}
.new__img img {
    width: 100%;
}
.new__price {
    color: rgba(255, 46, 101, 1);
    font-weight: 600;
}
@media (max-width: 1000px) {
    .new {
        margin-top: 50px;
    }
    .new__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        margin: 0 auto;
    }
    .new__card {
        display: grid;
        grid-template-columns: 70px auto;
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15px;
        column-gap: 15px;
    }
    .onion {
        height: 120px;
        bottom: -10px;
        left: -15px;
    }
}
@media (max-width: 700px) {
    .new {
        margin-top: 30px;
    }
    .new__section__title {
        font-size: 20px;
        border-top: 2px solid rgba(105, 111, 122, 1);
    }
    .new__card {
        column-gap: 10px;
    }
    .new__card__title {
        font-size: 16px;
    }
    .new__price {
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .new__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
/* --------------------------------------------------------------- */
/* -----------------------Menu------------------------------------ */
/* .menu__one {
    ...
} */
/* .menu__two {
    ...
} */
/* .menu__three {
    ...
} */
/* .menu_four {

}
.menu_five {
    
}
.menu_six {
    
}
.menu_seven {
    
}
.menu_eight {
    
} */
.menu__title {
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 46, 101, 1);
    margin-top: 50px;
    margin-bottom: 10px;
}
.menu__container {
    display: grid;
    margin-top: 23px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}
.menu__container.menu__smaller {
    grid-template-rows: repeat(1, 1fr);
}
.menu__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.menu__card__img {
    max-width: 253px;
    grid-column: 1/3;
    margin-bottom: 15px;
}
.menu__card__img img {
    width: 100%;
    height: auto;
}
.menu__card__title {
    font-size: 24px;
    font-weight: 800;
    grid-column: 1/3;
    margin-bottom: 20px;
}
.menu__card__p {
    font-size: 13px;
    line-height: 19px;
    font-weight: 500;
    grid-column: 1/3;
    margin-bottom: 23px;
}
.menu__card__price {
    font-size: 19px;
    font-weight: 700;
}
.menu__card__basket {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    padding: 3px 0;
    background-color: rgba(255, 46, 101, 1);
    border-radius: 8px;
    width: 126px;
    height: 35px;
    color: #ffffff;
    text-align: center;
}


@media (max-width: 1000px) {
    .menu__card {
        justify-content: center;
    }
    .menu__card__img {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .menu__card__title {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center;
    }
    .menu__card__p {
        font-size: 11px;
        margin-bottom: 10px;
        text-align: center;
    }
    .menu__card__price {
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
        grid-column: 1/3;
    }
    .menu__card__basket {
        grid-column: 1/3;
        margin: 0 auto;
        font-size: 12px;
        font-weight: 600;
        width: 100px;
        height: 30px;
        padding: 0;
    }
}
@media (max-width: 700px) {
    .menu__container {
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(4, 1fr);
        margin: 0 auto;
    }
    .menu__card__img {
        max-width: 180px;
    }
    .menu__title {
        font-size: 24px;
        border-top: 2px solid rgba(255, 46, 101, 1);
    }
    .menu__card__title {
        font-size: 16px;
    }
    .menu__card__p {
        font-size: 10px;
    }
    .menu__card__price {
        font-size: 14px;
    }
    .menu__card__basket {
        font-weight: 500;
    }
}
/* --------------------------------------------------------------- */
/* -------------------------Stocks-------------------------------- */
/* .stocks {
    ...
} */
.stocks__title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 44px;
    max-width: 400px;
    text-align: center;
    margin-top: 65px;
}
.stocks__title span {
    color: rgba(255, 46, 101, 1);
}
.stocks__container {
    margin-top: 45px;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.stocks__main__img {
    max-width: 540px;
    height: auto;
    border-radius: 20px;
    grid-row: 1/3;
    grid-column: 1/3;
}
.stocks__main__img img{
    width: 100%;
    height: auto;
}
.stocks__img {
    max-width: 255px;
    height: auto;
    border-radius: 20px;
}
.stocks__img img {
    width: 100%;
    height: auto;
}
.stocks__link {
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(255, 46, 101, 1);
    border-radius: 23px;
    width: 160px;
    height: 48px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1000px) {
    .stocks__title {
        font-size: 35px;
    }
    .stocks__container {
        margin-top: 30px;
    }
    .stocks__link  {
        margin-top: 30px;
    }
}
@media (max-width: 700px) {
    .stocks__title {
        font-size: 25px;
    }
    .stocks__container {
        margin-top: 20px;
    }
    .stocks__link  {
        margin-top: 20px;
        height: 35px;
        width: 120px;
        font-size: 12px;
    }
}
/* --------------------------------------------------------------- */
/* -------------------------Payment------------------------------- */
.payment {
    background-color: rgba(227, 236, 245, 1);
    margin-top: 60px;
    padding: 55px 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment__title {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    font-size: 30px;
}
.payment__article {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    column-gap: 30px;
}
.payment__article__container {
    display: grid;
    margin-top: 63px;
    padding: 43px 20px 0;
    background-color: #fff;
    border-radius: 14px;
    width: 255px;
    height: 105px;
}
.payment__article__icon {
    width: 77px;
    height: 77px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    padding: 17px;
    bottom: 80px;
    margin-left: 70px;
}
.payment__article__icon img {
    width: 44px;
    height: auto;
}
.article__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    position: relative;
    bottom: 80px;
}
.payment__map {
    width: 1110px;
    height: 322px;
    background-color: #fff;
    border-radius: 14px;
    margin-top: 32px;
    border: none;
}
/* --------------------------------------------------------------- */
/* -------------------------Footer-------------------------------- */
.footer {
    padding-top: 55px;
    padding-bottom: 80px;
}
.footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 32px;
    column-gap: 92px;
    row-gap: 45px;
    position: relative;
}
.noodles {
    position: absolute;
    bottom: -80px;
    right: -120px;
    z-index: -1;
}



.footer__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(4, 28px);
    max-width: 450px;
    row-gap: 10px;
    grid-row: 1/2;
}
.left__logo {
    grid-column: 1/3;
    padding-bottom: 30px;
}
.logo__footer {
    max-width: 64px;
    max-height: 64px;
    grid-row: 1/3;
}
.left__title {
    font-weight: 700;
}
.left__title.n {
    grid-column: 1/3;
}
.left__link {
    font-weight: 600;
    opacity: 70%;
}



.footer__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-row: -3/-1
}
.right__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
}
.right__icons__container {
    display: grid;
    /* grid-template-rows: ; */
    grid-template-columns: repeat(4, 101px);
    gap: 14px;
    margin-bottom: 25px;
}
.right__icons {
    width: 101px;
    height: 50px;
    border: 2px solid rgba(227, 236, 245, 1);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}
.right__link {
    width: 216px;
    height: 50px;
    border: 2px solid rgba(227, 236, 245, 1);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    opacity: 80%;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 1);
}
.right__phone {
    color: rgba(255, 46, 101, 1);
    font-weight: 700;
    font-size: 30px;
}



.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom__rights {
    font-size: 14px;
    opacity: 80%;
    font-weight: 600;
}
.payment__icons__container {
    display: flex;
    justify-content: space-between;
    width: 140px;
    max-height: 36px;
    align-items: center;
    gap: 18px;
}
.payment__icons {
    max-width: 36px;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */